@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');


.home-page {
  width: 100%;
  height: 100vh;

}


.hero-img {
  background-image: url("../assets/hero.jpg");
  background-size: 100%;
  min-width: 1600px;
  min-height: 1000px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

}


.hero-text-container {
  width: 600px;
  height: 500px;
  aligk: center;
  text-align: center;
  font-family: "Google Sans", sans-serif;
}

.hero-text-container h1 {
  color: white;
font-size: clamp(2rem, 5vw, 3.5rem);
}


.hero-text-container p {
  color: white;
font-size: clamp(0.5rem, 5vw, 1rem);
}

.hero-buttons {
width: 80%;
margin: 0 auto;
display: flex;
justify-content: space-around;
margin-top: 70px;

}

.private-btn {
  background-color: transparent;
  width: 130px;
  height: 50px;
  color: white;
  font-size: 15px;
  border: none;
  border: 1px solid white;
  font-family: "Google Sans", sans-serif;


}

.homesearch-btn {

  background-color: purple;
  width: 130px;
  height: 50px;
  color: white;
  font-size: 15px;
  border: none;
  border: 1px solid white;
  font-family: "Google Sans", sans-serif;

}
