name: Deploy to EC2
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Unit Tests"]
    branches:
      - main
    types:
      - completed
jobs:
  deploy:
    if: github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Verify Static Analysis passed
        if: github.event_name != 'workflow_dispatch'
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          conclusion=$(gh api \
              repos/${{ github.repository }}/actions/workflows/static_analysis.yml/runs \
              --jq ".workflow_runs[] | select(.head_sha==\"${{ github.event.workflow_run.head_sha }}\") | .conclusion" \
              | head -1)
          if [ "$conclusion" != "success" ]; then
            echo "Static Analysis has not passed for this commit"
            exit 1
          fi
      - name: SSH into EC2 and redeploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          envs: AWS_REGION,AWS_SECRET_NAME
          script: |
            cd /home/ec2-user/mirrulations-search
            git fetch origin main
            git reset --hard origin/main
            ./prod_redeploy.sh
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_SECRET_NAME: ${{ secrets.AWS_SECRET_NAME }}